<p id="notice"><%= notice %></p>

<h1>ALL Messages</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>for group</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_boards.each do |message_board| %>
      <tr>
        <td><%= message_board.sender %></td>
        <td><%= message_board.group_name %></td>
        <td><%= message_board.message %></td>
        <td><%= link_to 'Show', message_board, {:style=>'color:blue;', :class => "css_class"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_board_path, {:style=>'color:blue;', :class => "css_class"}%>
