<%= form_for(:session, url: login_path) do |f| %>
  <h1>Login</h1>
  <div class="errormessage">
  <%= flash.now[:error]%>
  </div>
  <div class="wholetext">
    <%= f.label :email %>
    <div class="field">
    <%= f.email_field :email , :required=> 'r'%>
    </div>
    <br>
    <%= f.label :password %>
    <div class="field">
    <%= f.password_field :password , :required=> 'r'%>
    </div>
    <br>
    <%= f.submit "Login"%>
  </div>

<% end %>
