<%= form_for(:session, url: login_path) do |f| %>
  <h1>Login</h1>
  <div class="errormessage">
  <%= flash.now[:error]%>
  </div>
  <div class="wholetext">
    <%= f.label :email %>
    <div class="field">
    <%= f.email_field :email , :required=> 'r'%>
    </div>
    <br>
    <%= f.label :password %>
    <div class="field">
    <%= f.password_field :password , :required=> 'r'%>
    </div>
    <br>
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Keep me logged in</span>
    <% end %>
    </div>
    <%= f.submit "Login"%>
  </div>

<% end %>
