<!-- <p id="notice"><%= notice %></p> -->

<h1>Sports Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Location</th>
      <th>Group owner</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <% if group.activity_type== "sports"%>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.time %></td>
          <td><%= group.location %></td>
          <td><%= group.group_owner %></td>
          <td><%= group.description %></td>
          <td><%= link_to 'More detail', group, {:style=>'color:blue;', :class => "css_class"} %></td>
          <% if logged_in?%>
            <% if loggedin_user.admin? || group.user_id==loggedin_user.id%>
              <td><%= link_to 'Edit the group', edit_group_path(group), {:style=>'color:blue;', :class => "css_class"} %></td>
              <td><%= link_to 'Destroy', group, method: :delete, :style=>'color:blue;', :class => "css_class", data: { confirm: 'Are you sure?' } %></td>
            <%elsif loggedin_user.id!=group.member1id && loggedin_user.id!=group.member2id && loggedin_user.id!=group.member3id &&loggedin_user.id!=group.member4id%>
              <%if group.member1id==nil || group.member2id==nil || group.member3id==nil || group.member4id==nil%>
                <td><%= link_to 'Join this group', edit_group_path(group), {:style=>'color:blue;', :class => "css_class"}%></td>
              <%end%>
            <%else%>
              <td><%= link_to 'Quit this group', edit_group_path(group), {:style=>'color:blue;', :class => "css_class"}%></td>
            <% end %>
          <% end %>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

 <!-- <%= link_to 'New Group', new_group_path, {:style=>'color:blue;', :class => "css_class"} %> -->
