<% if logged_in? %>
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required=>'r' %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :activity_type %><br>
    <%= f.select :activity_type ,["sports", "food", "study"], :required=> 'r'%>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :required=>'r' %>
  </div>
  <div class="field">
    <%= f.label :group_owner %><br>
    <% fullname=loggedin_user.first_name+ " "+loggedin_user.last_name%>
    <%= f.select :group_owner,[fullname], :required=>'r' %>
  </div>
  <div class="field">
    <%= f.label :member1 %>(Optional)<br>
    <%= f.text_field :member1 %>
  </div>
  <div class="field">
    <%= f.label :member2 %>(Optional)<br>
    <%= f.text_field :member2 %>
  </div>
  <div class="field">
    <%= f.label :member3 %>(Optional)<br>
    <%= f.text_field :member3 %>
  </div>
  <div class="field">
    <%= f.label :member4 %>(Optional)<br>
    <%= f.text_field :member4 %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :required=>'r'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%end%>
