<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <% @user.errors.full_messages.each do |message| %>
        <p style="text-align:left;"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name , :required=> 'r', class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name , :required=> 'r', class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :sfu_email_address %><br>
    <%= f.email_field :email , :required=> 'r', class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password%>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, :required=>'r', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender ,["male", "female"], :required=> 'r', class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :major %><br>
    <%= f.select :major,["Applied Sciences", "Arts and Social Sciences", "Business", "Communication, Art and Technology", "Education", "Environment", "Health Sciences", "Science" ] , :required=> 'r'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
