<% @page_title = "All users" %>
<% if logged_in?%>
<% if loggedin_user.admin? %>

<div class="container">
<h1>Listing Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Major</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.major %></td>
        <td><%= link_to 'Show', user,{:style=>'color:blue;', :class => "css_class"} %></td>
        <td><%= link_to 'Edit', edit_user_path(user), {:style=>'color:blue;', :class => "css_class"}  %></td>
        <td><%= link_to 'Destroy', user, method: :delete, :style=>'color:blue;', :class => "css_class", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% else %>
<p style="color:red; font-size:200%;"> Only admin user can view this page</p>
<% end %>
<% else %>
<p style="color:red; font-size:200%;"> Please log in first before view this page(only admin user can view this page)</p>
</div>
<% end %>
