<% if logged_in?%>
<% if loggedin_user.admin? || @user.id==loggedin_user.id %>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!-- <p>
  <strong>Password:</strong>
  <%= @user.password %>
</p> -->

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>

<!-- <p><%= link_to 'Destroy', @user, method: :delete, :style=>'color:blue;', :class => "css_class", data: { confirm: 'Are you sure?' } %></p> -->


<%= link_to 'Edit', edit_user_path(@user),{:style=>'color:blue;', :class => "css_class"}  %> |
<%if loggedin_user.admin?%>
<%= link_to 'View all users', users_path, {:style=>'color:blue;', :class => "css_class"}  %>
<%end%>
<%else%>
<p style="color:red; font-size:200%;"> You do not have access for this page</p>
<%end%>
<%else%>
<p style="color:red; font-size:200%;"> Please log in before you view your personal page</p>
<%end%>
