<% if logged_in? %>
  <%if loggedin_user.admin? %>
  <div class="Ad_Index">
    <h1>    Ad Requests</h1>

    <!--<%= link_to("Add New Requesrs", new_ad_request_path, {:style=>'color:blue;', :class => "css_class"}) %>-->

    <table class="listing" summary="Request list">
      <tr class="header">
        <th>Topic</th>
        <th>F.Name</th>
        <th>L.Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>


      <% @requests.each do |request| %>

      <tr>
        <td><%= request.ad_name %></td>
        <td><%= request.first_name %></td>
        <td><%= request.last_name %></td>
        <td><%= request.phone_num %></td>
         <td><%= request.email%></td>
        <td class="actions">
        	<!-- Three ways to write the URL

        	1. 'subject/#{subject.id}'
        	2. {:controller => 'subject', :action => 'show', :id => subject.id}
        	3. see what is in URL
        	   URL helper, .id is optional

        	-->
          <%= link_to("Show", ad_request_path(request), {:style=>'color:blue;', :class => "css_class"}) %>




        </td>


         <td class="actions">
          <!-- Three ways to write the URL

          1. 'subject/#{subject.id}'
          2. {:controller => 'subject', :action => 'show', :id => subject.id}
          3. see what is in URL
             URL helper, .id is optional

          -->
          <%= link_to("Delete", delete_ad_request_path(request), {:style=>'color:blue;', :class => "css_class"}) %>




        </td>



      </tr>

      <% end %>


    </table>
  </div>
  <%else%>
    <p style="color:red;font-size:200%;"> This page can only be viewed by admin user</p>
  <%end%>
<%else%>
  <p style="color:red;font-size:200%;"> Please log in before you sending ad request</p>
<%end%>
