<% @page_title = "Ad_Request_Index" %>

<div class="Ad_Request_Index container">
  <% if logged_in? %>
    <%if loggedin_user.admin? %>
      <h1>Ad Requests</h1>
        <br><br>
        <% @requests.each do |request| %>
        <div class="well">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="Ad_request_index_content col-sm-5">
              <h3><%= request.ad_name %></h3>
              <p>Name: <%= request.first_name%>, <%= request.last_name %></p>
              <p>Phone Number: <%= request.phone_num %></p>
              <p>Email: <%= request.email%></p>
            </div>
            <div class=" Ad_request_index_button col-sm-5">
              <%= link_to("Show", ad_request_path(request), :class => "btn btn-primary") %>
              <%= link_to("Delete", delete_ad_request_path(request), :class => "btn btn-danger") %>  
            </div>
          </div>
        </div>
          
        <% end %>

    <%else%>
      <div class="well">
        <p style="text-align:center">This page can only be viewed by admin user</p>
      </div>
    <%end%>
  <%else%>
    <div class="well">
      <p style="text-align:center">Please log in before you sending ad request</p>
    </div>
  <%end%> 
<br><br> 
</div><!-- Ad_Request_Index container end -->



