<% @page_title = "Ad_Request-show" %>

<div class="Ad_Request-show container">
  <div class="row">
    <div class="col-sm-12">
     
          <div class="requests show">
            <legend><h1>Show Request Detail</h1></legend>

            <table class="table table-striped" summary="Request detail view">
              <tr>
                <th>Topic</th>
                <td><%= @request.ad_name %></td>
              </tr>
              <tr>
                <th>Name</th>
                <td><%= @request.first_name %> <%= @request.last_name %></td>
              </tr>
              <tr>
                <th>Phone</th>
                <td><%= @request.phone_num %></td>
              </tr>
              <tr>
                <th>Contact Email</th>
                <td><%= @request.email %></td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td><%= @request.created_at %></td>
              </tr>
              
              <tr>
                <th>Detail</th>
                <td><%= @request.request_detail %></td>
              </tr>
            </table>
          </div>
          
      
   </div>
  </div>  <!-- end row -->
</div><!-- end Ad_Request-delete container -->


