<!DOCTYPE html>
<html>
<head>
<title>GroupIN</title>
<link rel="stylesheet" type="text/css" href="application.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--<%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %> -->
</head>

<body>

<H1>GroupIN</H1>

<p align="right">
<button class="sign">Sign Up</button>
<button class="sign">Sign In</button>
</p>

<nav>


    <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a></li>

        <li class="redirects"><a href="#">Redirect</a>
          <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
          </ul>
        </li>

        <li class="PP"><a href="#">P.Page</a>

        <li class="AD"><a href="#">Ad Request</a></li>

        <li class="news"><a href="#">About</a>
          <ul>
            <li><a href="#">Site Info</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </li>


      </ul>
    </div>
  </header>

</nav>

</body>

<!--<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GroupIN</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Site Redirect
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
        </ul>
      </li>
      <li><a href="#">Personal Page</a></li>
      <li><a href="#">Ad Request</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Site Info</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>

    </ul>
  </div>

</nav> -->








<%= yield %>

</body>
</html>
