<!DOCTYPE html>
<html>

  <head>
    <title>GroupIN | <%= @page_title || "Welcome" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>


<body>
  <!-- Header -->
  <div id="header">
    <h1>GroupIN</h1>
    <p align="right">
    <% if logged_in? %>
      <%= link_to("Sign OUT", {:controller => 'sessions', :action => 'destroy'}, method: :delete, :class => 'Sign' )%>
      <%= link_to("Profile", user_path(loggedin_user), :class => 'Sign' )%>
    <% else %>
      <%= link_to("Sign IN",'login', :class => 'Sign')%>
      <%= link_to("Sign UP",{:controller => 'users', :action => 'new'}, :class => 'Sign')%>
    <% end %>
    </p>
  </div>

  <!-- Navigation -->
  <nav>
    <div id="navigation">
      <ul>
        <li><%= link_to("Home",{:controller => 'welcome', :action => 'index'}, :class => 'NavButtonL1')%></li>
        <li><%= link_to("Category","#", :class => 'NavButtonL1')%>
          <ul>
            <li><%= link_to("Sports","#", :class => 'NavButtonL2')%></li>
            <li><%= link_to("Food","#", :class => 'NavButtonL2')%></li>
            <li><%= link_to("Study","#", :class => 'NavButtonL2')%></li>
          </ul>
        </li>
        <!-- <li class="PP"><a href="#">P.Page</a> -->
        <li><%= link_to("Ad Request","#", :class => 'NavButton')%></li>
        <li><%= link_to("About Us","#", :class => 'NavButton')%>
          <ul>
            <li><%= link_to("Site Info","#", :class => 'NavButtonL1')%></li>
            <li><%= link_to("Contact","#", :class => 'NavButtonL1')%></li>
            <li><%= link_to("Help","#", :class => 'NavButtonL1')%></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main -->
  <div id="main">
    <% if !flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>

  </div>

  <!-- Footer -->
  <div id="footer">
    <p id="copyright">&copy; Simon Fraser University | CMPT276 Group15</p>
  </div>

</body>

</html>
