<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <%= stylesheet_link_tag 'application'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>

    <title>GroupIN | <%= @page_title || "Welcome" %></title>
  </head>
<body>
  <!-- Header -->
    <header class=>
      <!-- Navigation -->
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <%= link_to("GroupIN",{:controller => 'welcome', :action => 'index'}, :class => 'navbar-brand')%>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to("Home",{:controller => 'welcome', :action => 'index'}, :class => 'NavButtonL1')%></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category<span class="caret"></sapn></a>
              <ul class="dropdown-menu">
                <li><%= link_to("Sports",{:controller => 'category', :action =>'sports'}, :class => 'NavButtonL2')%></li>
                <li><%= link_to("Food",{:controller =>'category', :action => 'food'}, :class => 'NavButtonL2')%></li>
                <li><%= link_to("Study",{:controller =>'category', :action => 'study'}, :class => 'NavButtonL2')%></li>
              </ul>
            </li>
            <li><%= link_to("Message Board",{:controller => 'message_boards', :action => 'index'}, :class => 'NavButtonL1')%></li>
            <% if logged_in? %>
              <%if loggedin_user.admin? %>
                <li><%= link_to("All Ad Requests",ad_requests_path, :class => 'NavButton1')%></li>
              <%else%>
                <li><%= link_to("New Ad Request",new_ad_request_path, :class => 'NavButton1')%></li>
              <%end%>
            <%else%>
              <li><%= link_to("Ad Request",new_ad_request_path, :class => 'NavButton1')%></li>
            <%end%>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                About US<span class="caret"></sapn></a>
              <ul class="dropdown-menu">
                <li><%= link_to("Site Info",{:controller => 'about_us', :action =>'site_info'}, :class => 'NavButtonL1')%></li>
                <li><%= link_to("Contact",{:controller => 'about_us', :action =>'contact'}, :class => 'NavButtonL1')%></li>
                <li><%= link_to("FAQ",{:controller => 'about_us', :action =>'FAQ'},:class => 'NavButtonL1')%></li>
              </ul>
            </li> 
          </ul>

          <% if logged_in? %>
            <%if loggedin_user.admin? %>
              logged in as admin
            <%else%>
              logged in as <%= loggedin_user.email%>
            <%end%>
            <button type="button" class="btn btn-default btn-xs navbar-btn navbar-right">
              <%= link_to("Log OUT", {:controller => 'sessions', :action => 'destroy'}, method: :delete, :class => 'Sign' )%>
            </button>
            <button type="button" class="btn btn-default btn-xs navbar-btn navbar-right">
              <%= link_to("Profile", user_path(loggedin_user), :class => 'Sign' )%>
            </button>
          <% else %>
            <button type="button" class="btn btn-default btn-xs navbar-btn navbar-right">
              <%= link_to("Log IN",{:controller => 'sessions', :action => 'new'}, :class => 'Sign')%>
            </button>
            <button type="button" class="btn btn-default btn-xs navbar-btn navbar-right">
              <%= link_to("Sign UP",{:controller => 'users', :action => 'new'}, :class => 'Sign')%>
            </button>
          <% end %>
        
        </div>  
      </nav>
    </header>



  <!-- Main -->
  <div id="main">
    <% if !flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>

  </div>

  <!-- Footer -->
  <div id="Bottom">
    <address id="copyright">&copy; Simon Fraser University | CMPT276 Group15</address>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
