<!DOCTYPE html>
<html>

  <head>
    <title>GroupIN | <%= @page_title || "Welcome" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>


<body>
  <!-- Header -->
  <div id="header">
    <h1>GroupIN</h1>
    <p align="right" style="color:blue;">
      <% if logged_in? %>
        logged in as
        <%= loggedin_user.email%>
        <%= link_to("Log OUT", {:controller => 'sessions', :action => 'destroy'}, method: :delete, :class => 'Sign' )%>
        <%= link_to("Profile", user_path(loggedin_user), :class => 'Sign' )%>
      <% else %>
        <%= link_to("Log IN",{:controller => 'sessions', :action => 'new'}, :class => 'Sign')%>
        <%= link_to("Sign UP",{:controller => 'users', :action => 'new'}, :class => 'Sign')%>
      <% end %>
    </p>
  </div>

  <!-- Navigation -->
  <nav>
    <div id="navigation">
      <ul>
        <li><%= link_to("Home",{:controller => 'welcome', :action => 'index'}, :class => 'NavButtonL1')%></li>
        <li><%= link_to("Category","#", :class => 'NavButtonL1')%>
          <ul>
            <li><%= link_to("Sports",{:controller => 'category', :action =>'sports'}, :class => 'NavButtonL2')%></li>
            <li><%= link_to("Food",{:controller =>'category', :action => 'food'}, :class => 'NavButtonL2')%></li>
            <li><%= link_to("Study",{:controller =>'category', :action => 'study'}, :class => 'NavButtonL2')%></li>
          </ul>
        </li>
        <!-- <li class="PP"><a href="#">P.Page</a> -->
        <li><%= link_to("Ad Request","#", :class => 'NavButton')%></li>
        <li><%= link_to("About Us","#", :class => 'NavButton')%>
          <ul>
            <li><%= link_to("Site Info",{:controller => 'about_us', :action =>'site_info'}, :class => 'NavButtonL1')%></li>
            <li><%= link_to("Contact",{:controller => 'about_us', :action =>'contact'}, :class => 'NavButtonL1')%></li>
            <li><%= link_to("FAQ",{:controller => 'about_us', :action =>'FAQ'},:class => 'NavButtonL1')%></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main -->
  <div id="main">
    <% if !flash[:notice].blank? %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <div id="content">
      <%= yield %>
    </div>

  </div>

  <!-- Footer -->
  <div id="footer">
    <address id="copyright">&copy; Simon Fraser University | CMPT276 Group15</address>
  </div>

</body>

</html>
